<a href="https://colab.research.google.com/github/kevinkhu/ScalingK2/blob/main/APOGEE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Work with [APOGEE Survey](https://www.sdss.org/dr17/irspec/) Data

---

Import important things.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from astropy.table import Table
import warnings
warnings.filterwarnings('ignore')

Download and read in the APOGEE data table & convert to a Pandas DataFrame (this will take 1-2 minutes).

In [2]:
data = Table.read('https://data.sdss.org/sas/dr17/apogee/spectro/aspcap/dr17/synspec_rev1/allStarLite-dr17-synspec_rev1.fits', format='fits', hdu=1)

# Delete a bunch of problematic columns
del data['PARAMFLAG', 'X_H', 'X_H_ERR', 'X_M', 'X_M_ERR', 'ELEM_CHI2', 'ELEMFRAC', 'X_H_SPEC', 'X_M_SPEC']

# Convert astropy table to DataFrame!
df = data.to_pandas()
df
#In order to remove artifacts like b'text' for strings you can use: df['star_id'] = df['star_id'].str.decode('utf-8')
#There's probably an elegant way to this for all columns with that problem without having to type a new line for each...

                    APOGEE_ID  TELESCOPE  ... CE_FE_ERR CE_FE_FLAG
0                    b'VESTA'   b'apo1m'  ...       NaN         64
1       b'2M00000002+7417074'  b'apo25m'  ...       NaN         64
2       b'2M00000019-1924498'  b'apo25m'  ...       NaN         64
3       b'2M00000032+5737103'  b'apo25m'  ...       NaN         64
4       b'2M00000032+5737103'  b'apo25m'  ...       NaN         64
...                       ...        ...  ...       ...        ...
733896  b'2M23595886-2009435'  b'apo25m'  ...       NaN         64
733897  b'2M23595886+5726058'  b'apo25m'  ...  0.072443          0
733898  b'2M23595921+5609479'  b'apo25m'  ...  0.097572          0
733899  b'2M23595949-7342592'  b'lco25m'  ...  0.140188          0
733900  b'2M23595980+1528407'  b'apo25m'  ...       NaN         64

[733901 rows x 182 columns]

Print the list of all the fields in the table. A description of the columns can be found [here](https://data.sdss.org/datamodel/files/APOGEE_ASPCAP/APRED_VERS/ASPCAP_VERS/allStarLite.html#hdu1).

In [3]:
print(df.columns[0:99],df.columns[99:182])
#Fix strings if you want, df['APOGEE_ID'] = df['APOGEE_ID'].str.decode('utf-8')

Index(['APOGEE_ID', 'TELESCOPE', 'FIELD', 'ALT_ID', 'RA', 'DEC', 'GLON',
       'GLAT', 'J', 'J_ERR', 'H', 'H_ERR', 'K', 'K_ERR', 'AK_TARG',
       'AK_TARG_METHOD', 'AK_WISE', 'SFD_EBV', 'APOGEE_TARGET1',
       'APOGEE_TARGET2', 'APOGEE2_TARGET1', 'APOGEE2_TARGET2',
       'APOGEE2_TARGET3', 'APOGEE2_TARGET4', 'TARGFLAGS', 'SURVEY',
       'PROGRAMNAME', 'NVISITS', 'SNR', 'SNREV', 'STARFLAG', 'STARFLAGS',
       'ANDFLAG', 'ANDFLAGS', 'VHELIO_AVG', 'VSCATTER', 'VERR', 'RV_TEFF',
       'RV_LOGG', 'RV_FEH', 'RV_ALPHA', 'RV_CARB', 'RV_CHI2', 'RV_CCFWHM',
       'RV_AUTOFWHM', 'RV_FLAG', 'N_COMPONENTS', 'MEANFIB', 'SIGFIB', 'MIN_H',
       'MAX_H', 'MIN_JK', 'MAX_JK', 'GAIAEDR3_SOURCE_ID', 'GAIAEDR3_PARALLAX',
       'GAIAEDR3_PARALLAX_ERROR', 'GAIAEDR3_PMRA', 'GAIAEDR3_PMRA_ERROR',
       'GAIAEDR3_PMDEC', 'GAIAEDR3_PMDEC_ERROR', 'GAIAEDR3_PHOT_G_MEAN_MAG',
       'GAIAEDR3_PHOT_BP_MEAN_MAG', 'GAIAEDR3_PHOT_RP_MEAN_MAG',
       'GAIAEDR3_DR2_RADIAL_VELOCITY', 'GAIAEDR3_DR2_RADIAL_VELOCITY_ERROR',
       'GAIAEDR3_R_MED_GEO', 'GAIAEDR3_R_LO_GEO', 'GAIAEDR3_R_HI_GEO',
       'GAIAEDR3_R_MED_PHOTOGEO', 'GAIAEDR3_R_LO_PHOTOGEO',
       'GAIAEDR3_R_HI_PHOTOGEO', 'ASPCAP_GRID', 'ASPCAP_CHI2', 'ASPCAPFLAG',
       'ASPCAPFLAGS', 'FRAC_BADPIX', 'FRAC_LOWSNR', 'FRAC_SIGSKY', 'EXTRATARG',
       'MEMBERFLAG', 'MEMBER', 'TEFF', 'TEFF_ERR', 'LOGG', 'LOGG_ERR', 'M_H',
       'M_H_ERR', 'ALPHA_M', 'ALPHA_M_ERR', 'VMICRO', 'VMACRO', 'VSINI',
       'TEFF_SPEC', 'LOGG_SPEC', 'C_FE', 'C_FE_SPEC', 'C_FE_ERR', 'C_FE_FLAG',
       'CI_FE'],
      dtype='object') Index(['CI_FE_SPEC', 'CI_FE_ERR', 'CI_FE_FLAG', 'N_FE', 'N_FE_SPEC',
       'N_FE_ERR', 'N_FE_FLAG', 'O_FE', 'O_FE_SPEC', 'O_FE_ERR', 'O_FE_FLAG',
       'NA_FE', 'NA_FE_SPEC', 'NA_FE_ERR', 'NA_FE_FLAG', 'MG_FE', 'MG_FE_SPEC',
       'MG_FE_ERR', 'MG_FE_FLAG', 'AL_FE', 'AL_FE_SPEC', 'AL_FE_ERR',
       'AL_FE_FLAG', 'SI_FE', 'SI_FE_SPEC', 'SI_FE_ERR', 'SI_FE_FLAG', 'P_FE',
       'P_FE_SPEC', 'P_FE_ERR', 'P_FE_FLAG', 'S_FE', 'S_FE_SPEC', 'S_FE_ERR',
       'S_FE_FLAG', 'K_FE', 'K_FE_SPEC', 'K_FE_ERR', 'K_FE_FLAG', 'CA_FE',
       'CA_FE_SPEC', 'CA_FE_ERR', 'CA_FE_FLAG', 'TI_FE', 'TI_FE_SPEC',
       'TI_FE_ERR', 'TI_FE_FLAG', 'TIII_FE', 'TIII_FE_SPEC', 'TIII_FE_ERR',
       'TIII_FE_FLAG', 'V_FE', 'V_FE_SPEC', 'V_FE_ERR', 'V_FE_FLAG', 'CR_FE',
       'CR_FE_SPEC', 'CR_FE_ERR', 'CR_FE_FLAG', 'MN_FE', 'MN_FE_SPEC',
       'MN_FE_ERR', 'MN_FE_FLAG', 'FE_H', 'FE_H_SPEC', 'FE_H_ERR', 'FE_H_FLAG',
       'CO_FE', 'CO_FE_SPEC', 'CO_FE_ERR', 'CO_FE_FLAG', 'NI_FE', 'NI_FE_SPEC',
       'NI_FE_ERR', 'NI_FE_FLAG', 'CU_FE', 'CU_FE_SPEC', 'CU_FE_ERR',
       'CU_FE_FLAG', 'CE_FE', 'CE_FE_SPEC', 'CE_FE_ERR', 'CE_FE_FLAG'],
      dtype='object')

Targets with 'ASPCAPFLAG' == 0 have no identified problems with the stellar paramter determinations, these are what you want to work with. Additionally, a quality cut of 'SNR' > 20 should be taken.

In [4]:
dfq = df[(df['ASPCAPFLAG']==0) & (df['SNR']>20)]
dfq.reset_index(inplace=True,drop=True)
dfq

                    APOGEE_ID  TELESCOPE  ... CE_FE_ERR CE_FE_FLAG
0       b'2M00000002+7417074'  b'apo25m'  ...       NaN         64
1       b'2M00000032+5737103'  b'apo25m'  ...       NaN         64
2       b'2M00000032+5737103'  b'apo25m'  ...       NaN         64
3       b'2M00000035-7323394'  b'lco25m'  ...  0.146837          0
4       b'2M00000068+5710233'  b'apo25m'  ...  0.086572          0
...                       ...        ...  ...       ...        ...
348082  b'2M23595837+5700444'  b'apo25m'  ...  0.141408          0
348083  b'2M23595867-7339039'  b'lco25m'  ...  0.137714          0
348084  b'2M23595886+5726058'  b'apo25m'  ...  0.072443          0
348085  b'2M23595921+5609479'  b'apo25m'  ...  0.097572          0
348086  b'2M23595949-7342592'  b'lco25m'  ...  0.140188          0

[348087 rows x 182 columns]

Create a smaller DataFrame with only the columns you want to work with to make the data slightly more manageable.

In [5]:
apogee = dfq[['APOGEE_ID', 'TEFF', 'TEFF_ERR', 'LOGG',
       'LOGG_ERR', 'M_H', 'M_H_ERR', 'FE_H', 'FE_H_ERR', 
       'GAIAEDR3_SOURCE_ID']].copy()

#Rename columns, which may be useful when comparing to other catalogs (e.g. GALAH uses all lower case, whereas APOGEE uses all upper case).
apogee = apogee.rename(columns={"GAIAEDR3_SOURCE_ID": "GaiaEDR3ID","TEFF":"teff","TEFF_ERR":"e_teff",
                                "LOGG":"logg","LOGG_ERR":"e_logg","FE_H":"fe_h","FE_H_ERR":"e_fe_h","M_H":"m_h","M_H_ERR":"e_m_h"})

#Be careful about dropping NaNs, but in general this is probably a good thing to do.
apogee.dropna(inplace=True)
apogee.reset_index(inplace=True,drop=True)

#Remove the pesky utf encoding b tag for the APOGEE_ID
apogee['APOGEE_ID'] = apogee['APOGEE_ID'].str.decode('utf-8')
apogee

#Save to csv if you want
# apogee.to_csv('apogee.csv',index=False)

                 APOGEE_ID         teff  ...    e_fe_h           GaiaEDR3ID
0       2M00000002+7417074  3723.911133  ...  0.009251   538028216707715712
1       2M00000032+5737103  6099.780762  ...  0.007646   422596679964513792
2       2M00000032+5737103  6162.030273  ...  0.006151   422596679964513792
3       2M00000035-7323394  4555.404297  ...  0.021403  4689447878791422208
4       2M00000068+5710233  5031.263672  ...  0.006890   421077597267551104
...                    ...          ...  ...       ...                  ...
346639  2M23595837+5700444  4954.169922  ...  0.011422  1995024236127760000
346640  2M23595867-7339039  4487.380859  ...  0.022141  6379920759951899648
346641  2M23595886+5726058  4859.908691  ...  0.007337  1998097371124974720
346642  2M23595921+5609479  4585.409668  ...  0.011620  1994741318040223232
346643  2M23595949-7342592  4509.591309  ...  0.020959  6379914575198998272

[346644 rows x 10 columns]