<a href="https://colab.research.google.com/github/kevinkhu/ScalingK2/blob/main/LAMOST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Work with [LAMOST Survey](http://dr7.lamost.org/) Data

---

Import important things.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from astropy.table import Table
import warnings
warnings.filterwarnings('ignore')

Download and read in the **LAMOST AFGK** stellar catalog as a Pandas DataFrame (this will take 1-2 minutes, we'll work with M stars below).

In [2]:
df = pd.read_csv('http://dr7.lamost.org/v2.0/catdl?name=dr7_v2.0_LRS_stellar.csv.gz', compression='gzip', header=0, sep='|', dtype={'gaia_source_id': object})

Print a list of all the fields in the table. A description of the columns can be found [here](http://dr7.lamost.org/v2.0/doc/lr-data-production-description#S3.2).

In [3]:
df.columns

Index(['obsid', 'designation', 'obsdate', 'lmjd', 'mjd', 'planid', 'spid',
       'fiberid', 'ra_obs', 'dec_obs', 'snru', 'snrg', 'snrr', 'snri', 'snrz',
       'objtype', 'class', 'subclass', 'z', 'z_err', 'magtype', 'mag1', 'mag2',
       'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'tsource', 'fibertype', 'tfrom',
       'tcomment', 'offsets', 'offsets_v', 'ra', 'dec', 'teff', 'teff_err',
       'logg', 'logg_err', 'feh', 'feh_err', 'rv', 'rv_err', 'alpha_m',
       'alpha_m_err', 'gaia_source_id', 'gaia_g_mean_mag'],
      dtype='object')

Set a signal-to-noise threshold, for example 'snrg' > 20.

In [4]:
dfq = df[df['snrg']>20]
dfq.reset_index(inplace=True,drop=True)
dfq

             obsid          designation  ...       gaia_source_id  gaia_g_mean_mag
0           101008  J220928.49-015720.7  ...  2676865000324707584        16.039270
1           101016  J220923.69-020809.9  ...  2676107368093944576        15.277764
2           101017  J220946.66-015526.5  ...  2676120459154270336        16.003653
3           101020  J220853.37-015915.4  ...  2676863969532562688        15.540595
4           101021  J220924.33-014833.5  ...  2676876029800730368        15.178959
...            ...                  ...  ...                  ...              ...
4550157  746915239  J200744.40+192327.5  ...  1822593668710339328        15.217259
4550158  746915240  J200641.48+192721.5  ...  1822608821355250560        14.511239
4550159  746915246  J200709.18+193459.0  ...  1822611776292724480        14.542370
4550160  746915248  J200657.84+192831.0  ...  1822608546477297536        14.180772
4550161  746915250  J200730.10+193929.6  ...  1822618373363060608        14.600100

[4550162 rows x 48 columns]

Create a smaller DataFrame with only the data you plan to work with.

In [5]:
lamostafgk = dfq[['obsid','gaia_source_id','subclass','teff','teff_err','logg','logg_err','feh','feh_err']].copy()
lamostafgk.rename(columns={'teff_err':'e_teff','logg_err':'e_logg','feh_err':'e_feh','gaia_source_id':'GaiaDR2ID'},inplace=True)
lamostafgk

             obsid            GaiaDR2ID subclass  ...  e_logg    feh  e_feh
0           101008  2676865000324707584       F9  ...   0.177 -0.019  0.116
1           101016  2676107368093944576       K3  ...   0.074 -0.228  0.052
2           101017  2676120459154270336       G0  ...   0.141 -0.235  0.094
3           101020  2676863969532562688       F6  ...   0.150 -1.029  0.100
4           101021  2676876029800730368       F5  ...   0.057 -1.025  0.036
...            ...                  ...      ...  ...     ...    ...    ...
4550157  746915239  1822593668710339328       G5  ...   0.099 -0.076  0.065
4550158  746915240  1822608821355250560       G8  ...   0.050 -0.315  0.030
4550159  746915246  1822611776292724480       G5  ...   0.056 -0.017  0.034
4550160  746915248  1822608546477297536       G2  ...   0.048  0.132  0.029
4550161  746915250  1822618373363060608       G5  ...   0.051 -0.420  0.037

[4550162 rows x 9 columns]

**LAMOST M** Stars

Lather. Rinse. Repeat.

In [6]:
df = pd.read_csv('http://dr7.lamost.org/v2.0/catdl?name=dr7_v2.0_LRS_mstellar.csv.gz', compression='gzip', header=0, sep='|', dtype={'gaia_source_id': object})
print(df.columns)

#M stars are brighter in i band, so use that instead of g for snr cut.
dfq = df[df['snri']>20]
dfq.reset_index(inplace=True,drop=True)
lamostm = dfq[['obsid','gaia_source_id','subclass','teff','teff_err','logg','logg_err','m_h','m_h_err']].copy()
lamostm.rename(columns={'gaia_source_id':'GaiaDR2ID','teff_err':'e_teff','logg_err':'e_logg','m_h_err':'e_m_h'},inplace=True)
lamostm

Index(['obsid', 'designation', 'obsdate', 'lmjd', 'mjd', 'planid', 'spid',
       'fiberid', 'ra_obs', 'dec_obs', 'snru', 'snrg', 'snrr', 'snri', 'snrz',
       'objtype', 'class', 'subclass', 'z', 'z_err', 'magtype', 'mag1', 'mag2',
       'mag3', 'mag4', 'mag5', 'mag6', 'mag7', 'tsource', 'fibertype', 'tfrom',
       'tcomment', 'offsets', 'offsets_v', 'ra', 'dec', 'teff', 'teff_err',
       'logg', 'logg_err', 'm_h', 'm_h_err', 'ewha', 'ewha_err', 'tio5',
       'cah2', 'cah3', 'tio1', 'tio2', 'tio3', 'tio4', 'cah1', 'caoh',
       'tio5_err', 'cah2_err', 'cah3_err', 'tio1_err', 'tio2_err', 'tio3_err',
       'tio4_err', 'cah1_err', 'caoh_err', 'zeta', 'zeta_err', 'type', 'na',
       'gaia_source_id', 'gaia_g_mean_mag'],
      dtype='object')

            obsid            GaiaDR2ID subclass  ...  e_logg    m_h  e_m_h
0          101050  2676910183380728576      dM0  ...   0.149 -1.000  0.108
1          101052  2677152728773788160      dM0  ...   0.136 -0.606  0.099
2          101090  2676891384309042560      dM0  ...   0.147 -1.000  0.108
3          101099  2676893961289434112      dM2  ...   0.153 -0.691  0.111
4          101109  2676878843004493568      dM1  ...   0.150 -0.373  0.108
...           ...                  ...      ...  ...     ...    ...    ...
531953  587101131  3302583186360081920     sdM4  ...   0.147 -2.153  0.107
531954  318912183   195638891365443968     sdM4  ...   0.120 -1.000  0.092
531955  368005093   314684561492375808     sdM4  ...   0.122 -1.000  0.093
531956  723702205   585166208631259648     sdM6  ...   0.142 -1.827  0.104
531957  490802061   953485458427321344     sdM8  ...   0.117 -0.028  0.090

[531958 rows x 9 columns]